body {
  margin: 0px;
  background-color: var(--dark-base);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.031rem;
}

pre {
  background-color: var(--dark-base);
  border-radius: 0.5rem;
  border-color: var(--em-low);
  border-style: solid;
  border-width: 1px;
  display: block;
  padding: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

p,
li,
span {
  color: var(--em-mid);
}

header {
  background-color: rgb(255, 255, 255, 0.12);
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: flex-start;
}

header a {
  text-decoration: none;
  opacity: 1 !important;
  font-family: "Lato", sans-serif;
}

.logo a {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  color: var(--em-hi);
  text-transform: capitalize;
}

.logo a:hover {
  color: var(--em-max);
}

.logo a:active {
  color: var(--em-mid);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav * + *,
header * + * {
  margin-top: 24px;
}

nav a {
  font-size: 0.875rem;
  color: var(--em-mid);
  text-transform: uppercase;
  letter-spacing: 0.078rem;
}

nav a:hover {
  color: var(--em-hi);
}

nav a:active {
  color: var(--em-low);
}

footer {
  margin-top: 3rem;
  text-align: center;
  padding: 1.2rem 0;
  font-size: 0.875rem;
  letter-spacing: 0.016rem;
}

footer > span {
  color: var(--em-low);
}

footer > ul {
  font-size: 1.25rem;
  margin: 8px;
  padding: 0;
}

footer > ul > li {
  display: inline-block;
}

footer > ul > li > a {
  color: var(--em-mid);
  opacity: 1 !important;
  padding: 8px;
}

footer > ul > li > a:hover {
  color: var(--em-hi);
}

footer > ul > li > a:active {
  color: var(--em-low);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  color: var(--em-hi);
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.31;
}

h2 {
  font-size: 2.125rem;
  letter-spacing: 0.016rem;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

article .header {
  font-size: 1.25rem;
  font-style: italic;
  font-family: "Lato", sans-serif;
  color: var(--em-low);
}

main {
  padding: 0 16px;
  max-width: 768px;
}

main::before {
  background-color: var(--primary-200);
  width: 100vw;
  height: 100vh;
  content: "";
  left: 0;
  opacity: 0.06;
  position: fixed;
  top: 0;
  z-index: -1;
}

a {
  transition: color 0.1s;
  color: var(--secondary-200);
  text-decoration: none;
  opacity: 0.87;
}

a:hover {
  opacity: 1;
}

a:active {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
  }

  header {
    flex-direction: row;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    flex-direction: row;
    align-items: center;
  }

  nav * + *,
  header * + * {
    margin-top: 0px;
  }

  nav * + * {
    margin-left: 24px;
  }

  main {
    flex-grow: 1;
    align-self: center;
    padding: 0 24px;
  }
}
