:root {
  --bright-navy-blue: hsla(210, 48%, 47%, 1);
  --eerie-black: #232c31;
  --snow: hsla(315, 100%, 99%, 1);
  --mauve-taupe: hsla(330, 22%, 47%, 1);
  --st-patricks-blue: hsla(234, 64%, 28%, 1);
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-size: 1.6rem;
  color: var(--snow);
  background-color: var(--eerie-black);
  font-family: "Lato", sans-serif;
}

header {
  background-color: var(--bright-navy-blue);
  display: flex;
  padding: 20px 16px;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 2.5rem;
  color: var(--snow);
  text-decoration: none;
}
nav {
  text-align: right;
}

nav * + * {
  margin-left: 8px;;
}

nav a {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--snow);
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 0;
}