body {
  margin: 0px;
  color: white;
  background-color: var(--dark-base);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.031rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  opacity: 0.60;
}

header {
  background-color: rgb(255, 255, 255, 0.12);
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white !important;
  text-decoration: none;
}

.logo a {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  opacity: 0.87;
  text-transform: capitalize;
  line-height: 24px;
}

.logo a:hover {
  opacity: 1;
}

.logo a:active {
  opacity: 0.60;
}

nav {
  display: flex;
  align-items: center;
  text-align: right;
  margin: auto 0;
}

nav * + * {
  margin-left: 24px;
}

nav a {
  font-size: 0.875rem;
  opacity: 0.60;
  text-transform: uppercase;
  letter-spacing: 0.078rem;
}

nav a:hover {
  opacity: 0.87;
}

nav a:active {
  opacity: 0.46;
}

footer {
  margin-top: 3rem;
  text-align: center;
  padding: 1.2rem 0;
  font-size: 0.875rem;
  letter-spacing: 0.016rem;
  justify-self: end;
}

footer > span {
  opacity: 0.46;
}

h1, h2, h3, h4, h5, h6 {
  opacity: 0.87;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.0.31;
}

h2 {
  font-size: 2.125rem;
  letter-spacing: 0.016rem;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

main {
  max-width: 850px;
  margin: 0 auto;
  padding: 16px 0;
  flex-grow: 1;
}

main::before {
  background-color: var(--primary-200);
  width: 100vw;
  height: 100vh;
  content: "";
  left: 0;
  opacity: 0.06;
  position: fixed;
  top: 0;
  z-index: -1;
}

a {
  transition: opacity 0.1s;
  color: var(--secondary-200);
  text-decoration: none;
  opacity: 0.87;
}

a:hover {
  opacity: 1;
}

a:active {
  opacity: 0.60;
}
