:root {
  --primary-100: #c5beff;
  --primary-200: #988bff;
  --primary-400: #6a58ff;
  --primary-700: #533fff;
  --secondary-100: #ffbbb8;
  --secondary-200: #ff8a85;
  --secondary-400: #ff5952;
  --secondary-700: #ff5952;
  --dark-base: #121212;
  --em-max: #ffffffff;
  --em-hi: #ffffffde;
  --em-mid: #ffffff99;
  --em-low: #ffffff78;
}
